<?xml version="1.0"?>
<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="anemometer_to_base_link_broadcaster" args="1 0 0 0 0 0 1 anemometer_link base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="gas_sensor_to_base_link_broadcaster" args="1 0 0 0 0 0 1 gas_sensor_link base_link" />
    
    <node pkg="nrg_gas_source_localization"  type="nrg_sl_data_test_node" name="data_test_source_localization" output="screen">
    </node>

</launch>