<?xml version="1.0"?>
<launch>

    <node pkg="nrg_gas_source_localization"  type="nrg_sl_data_test_node" name="data_test_source_localization" output="screen">
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_base_link_broadcaster" args="1 0 0 0 0 0 1 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="anemometer_to_base_link_broadcaster" args="1 0 0 0 0 0 1 anemometer_link base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="gas_sensor_to_base_link_broadcaster" args="1 0 0 0 0 0 1 gas_sensor_link base_link" />
    
    <arg name = "number_of_particles" 
         default = "1000"/>
    <arg name = "minimum_number_of_particles" 
         default = "800"/>
    <arg name = "measurement_noise" 
         default = "2.0"/>
    <arg name = "resampling_noise" 
         default = "0.2"/>

    <node pkg="nrg_gas_source_localization"  type="nrg_sl_node" name="source_localization" output="screen">
        
        <param name = "number_of_particles" 
               value = "$(arg number_of_particles)"/>  
        <param name = "minimum_number_of_particles" 
               value = "$(arg minimum_number_of_particles)"/>  
        <param name = "measurement_noise" 
               value = "$(arg measurement_noise)"/>  
        <param name = "resampling_noise" 
               value = "$(arg resampling_noise)"/>  

        <rosparam param = "x_bounds"> [-100.0, 100.0] </rosparam>
        <rosparam param = "y_bounds"> [-100.0, 100.0] </rosparam>
        <rosparam param = "z_bounds"> [-5.0, 25.0] </rosparam>
        <rosparam param = "rate_bounds"> [0.0, 20000.0] </rosparam>

        <rosparam param = "wind_model_horizontal_dispersion"> [0.22, 0.0001, 0.5] </rosparam>
        <rosparam param = "wind_model_vertical_dispersion"> [0.20, 0.0, 0.0] </rosparam>

        <remap from = "anemometer_data_topic" 
               to = "remapped_anemometer_data_topic"/>
        <remap from = "gas_sensor_data_topic" 
               to = "remapped_gas_sensor_data_topic"/>

    </node>
</launch>
